 #header {
            background-color:black;
            color:white;
            text-align:center;
            padding:5px;
        }
#nav {
    font-family: "Arial";
    font-style: Bold;
    line-height:30px;
    background-color:#eeeeee;
    height:1500px;
    width:150px;
    float:left;
    padding:5px;	      
}
#section {
    margin: 50px;
    width:1000px;
    padding:10px;
    padding-left: 100px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
#thrissur_photos{
    margin-left: 100px;
    padding-left: 100px;
    height:200px;
}